/* -----------HEADER---------- */
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;

  background-color: #373737;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1450px;
  max-width: 1450px;
}

/* LOGO HEADER */
.container-logo-header img {
  width: 300px;
}

/* MENU HEADER */
.menu-header {
  list-style: none;
  float: left;
}

.menu-header .menu-dropdown {
  position:relative;
  float:left;
}

.menu-header .menu-dropdown a {
  text-transform: uppercase;
  color:#FFF;
  text-decoration: none;
  padding: 15px 10px;
  display: block;
}

.menu-header .menu-dropdown a:hover {
  color: #CCC;
}

.menu-header .menu-dropdown ul {
  position: absolute;
  top: 48px;
  left: 0;
  display: none;
  border-top: 4px solid orange;
}

.menu-header .menu-dropdown ul a:hover {
  color: #474747;
}

.menu-header .menu-dropdown:hover ul, .menu-header .menu-dropdown.over ul {
  display: block;
}

.menu-header .menu-dropdown ul li {
  background-color: #FFF;
  color: #343434;
  border: 1px solid #c0c0c0;
  border-radius: 0 0 5px 5px;
  display: block;
  width: 150px;
}

.menu-header .menu-dropdown ul li:hover {
  background-color: rgb(235, 235, 235);
}

.menu-header .menu-dropdown ul li a {
  color: #343434;
  text-transform: uppercase;
}

/* -------------BANNER------------- */
.container-movies {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 50px;
  width: 1450px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #373737;
}

h3 {
  margin: 20px 0 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  color: #363636;
}

img {
  margin: 25px;
  width: 300px;
  border-radius: 10px;
}

/*-------FOOTER-------*/
.container-footer {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;

  background-color: #373737;
}

.box-footer {
  display: flex;
  justify-content: space-between;
  width: 1450px;
  max-width: 1450px;
  padding: 100px 0;
}

.text-footer .quote-footer {
  color: #FFF;
  font-size: 21px;
  font-weight: 300;
  text-align: start;
  font-style: italic;
  margin: 0;
}

.rights-reserved-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 250px;
  color: #FFF;
}

.text-footer p {
  color: #6b6b6b;
  text-align: end;
  margin: 5px;
}